.textArea {
    border: none;
    height: 150px;
    width: 350px;
    border-radius: 6px;
    padding: 6px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

.textAreaContainer {
    gap: 4px
}