.closed {
    display: none;
}

.formContainer {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.121);
    display: grid;
    place-items: center;
}

.formHouse {
    background-color: #201f1f;
    padding: 22px;
    border-radius: 8px;
    min-width: 400px;
    text-align: start;
    gap: 12px;
}

.form {
    background-color: #000000;
    padding: 12px;
    justify-content: flex-start;
    width: 100%;
}

