.portalContainer {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.121);
    display: grid;
    place-items: center;
    z-index: 1000;
}

.childContainer {
    background-color: #212124;
    padding: 2px;
    border-radius: 8px;
    min-width: 300px;
    text-align: start;
}

.portalClose {
    padding: 6px;
    cursor: pointer;
    border: none;
    color: var(--prim-font-color);
    background: none;
    border-radius: 50%;
}