.filterContainer {
    justify-content: start;
    gap: 12px;
    padding-bottom: 4px;
    align-items: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 6px;
    appearance: none;
    background-color: transparent;
    outline: none;
    transition: outline 0.1s;
}

input[type="checkbox"]:hover {
    border: 1px solid white;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-size: cover;
}

input[type="checkbox"]:not(:disabled):checked {
  border-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  viewBox="0 0 16 16"><path  style="fill: white;" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/></svg>');
}