.fileInputContainer {
    align-items: start;
    gap: 2px;
}
.fileContainer {
    height: 50px;
    width: 100%;
    background-color: var(--color-bg);
    border: 1px solid rgb(56, 56, 56);
    border-radius: 6px;
    cursor: pointer;
}
.fileContainer label {
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.fileBox {
    background-color: aqua;
}