name: CI Moore React

on: 
  push: 
    branches: 
      -main
  pull_request:
    branches:
      -main

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: node
        uses: actions/setup-node@v4
        with: 
          node-version: '22.18.0'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build
